.sc-jTrOVX.jxcwRd{
    margin-top: 140px!important;
    font-family : "Noto Sans KR", sans-serif;
    
}
.sc-gLDymS.jclEpY{
    background-color: #e84f13;
    border: none;
}
#__react-kakao-maps-sdk___Map{
    margin-top:0px!important;
    height: calc(-75px + 100vh)!important;
    font-family : "Noto Sans KR", sans-serif;
}
.sc-ivnBVK.jxqAHb{
    margin-bottom: 15px!important;
    font-family : "Noto Sans KR", sans-serif;
}
.sc-ivnBVK.jxqAHb{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family : "Noto Sans KR", sans-serif;
    border-radius: 10px!important;
    background-color: #e84f13;
    border: none;
}
.css-ts0qja-MuiButtonBase-root-MuiFab-root {
    margin: 20px!important;
    font-family : "Noto Sans KR", sans-serif;
}
.sc-kFuvnu.zvVMC{
    list-style-type: none;
    font-family : "Noto Sans KR", sans-serif;
}
.sc-jsMaUZ{
    padding-left: 0px!important;
    font-family : "Noto Sans KR", sans-serif;
    
}

.VocContainer {
    margin-top: 110px; /* 상단 내비게이션 바 높이만큼 아래로 밀어줌 */
    overflow-y: auto;
    flex-grow: 1;
}

.PostContainer {
    margin-top: 100px;
}