.ShopTop{
    
}
.ShopTop>p{
    text-align: left;
    padding-left: 5%;
    font-size: 24px;
    font-weight: 700;
}
.ShopTop>input{
    width: 90%;
    height: 50px;
    background-color: #D6EEFF;
    border-radius: 13px;
    border: none;
}
.ShopSection {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.ShopButton{
    width: 33.3%;
    height: 45px;
    
  }