@font-face {
    font-family: 'BagelFatOne-Regular';
    src: url('/src/font/BagelFatOne-Regular.ttf') format('woff2');

    font-style: normal;

}

.ShopTop {}

.ShopTop>p {
    text-align: left;
    padding-left: 5%;
    font-size: 24px;
    font-weight: 700;
}

.ShopTop>input {
    width: 90%;
    height: 50px;
    background-color: #D6EEFF;
    border-radius: 13px;
    border: none;
}

.shopbox {
    width: 150px;
    height: 170px;
    border: 2px solid #f2f2f2;
    margin-top: 30px;
    border-radius: 20px;
    background-color: white;
    margin: 0 auto;
}


.ShopButton {
    width: 33.3%;
    height: 45px;

}

.ShopDetailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ShopDetailTop {
    width: 80%;
    height: 180px;
    border: 2px solid #e84f13;
    margin-top: 110px;
    border-radius: 20px;
    background-color: #D6EEFF;
}

.ShopDetailTop>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.ShopDetailSection {
    margin-top: 5%;
    text-align: left;
    font-family: 'BagelFatOne-Regular' !important;
}

.ShopDetailBottomBt {
    background-color: #e84f13;
    width: 232px;
    height: 51px;
    margin-top: 60px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Noto Sans KR", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400 !important;
    font-style: normal;
}

.ShopDetailButton {
    width: 50%;
    height: 30px;
    font-family: 'BagelFatOne-Regular' !important;
}

.css-19midj6:nth-child(3) {
    text-align: center !important;

}

.ShopImage {
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid silver;
}

.css-1d9bq45-MuiButtonGroup-root .MuiButtonGroup-lastButton,
.css-1d9bq45-MuiButtonGroup-root .MuiButtonGroup-middleButton {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.css-1d9bq45-MuiButtonGroup-root .MuiButtonGroup-firstButton {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.css-1d9bq45-MuiButtonGroup-root {
    border-radius: 13px !important;
}

.IntroDivider {
    font-family: 'BagelFatOne-Regular' !important;
}

.css-r40f8v-MuiTypography-root {

    font-family: "Noto Sans KR", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 100 !important;
    font-style: normal;
    margin-top: 10px !important;

}

.css-18k87ye-MuiTypography-root {
    font-family: "Noto Sans KR", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 500 !important;
    font-style: normal;

}
.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root{
    margin-bottom: 130px;
}