.SignUpmainbg {
    
    height: 300px;
    margin-top: -10px;
    background-image: url(../../public/picture/signup.jpg);
    background-size: contain;
    background-position: center;
   
}
.SignUpTop{
    text-align: left;
    padding-left: 5%;
}
.SignUpTop span{
    font-size: 24px;
    font-weight: 700;
}
.SignUpTop p:nth-child(2){
    color: #938D8D;
    font-size: 14px;
}
.SignUpInputContainer{
    display: flex;
    flex-direction: column;
    padding:5%;
    justify-content: center;
    align-items: center;
}
.SignUpInputContainer > input{
    margin-bottom: 25px;
    height: 50px;
    border-radius: 13px;
    border: 3px solid #EAE5E5;
    width: 100%;
    padding-left: 20px;
    /* 왼쪽 여백을 조절합니다. */
    box-sizing: border-box;
    font-weight: 600;
}
.SignUpInputContainer > button{
    background-color: #e84f13;
    width: 232px;
    height: 51px;
    margin-top: 60px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}
.SignUpBottom > p{
    color:#e84f13 ;
}
