.GridContainer {
    padding: 3%;
}

.GridContainer button {
    width: 95%;
    height: 45px;
    padding: 0;
    border-radius: 20px;
    background-color: white;
    border: 2px solid #5bb6f6;
    font-weight: 900;
}

.react-datepicker-ignore-onclickoutside {
    background-color: #7dbfee;
    color: white;
    cursor: pointer;

}

.react-datepicker__input-container>input {
    text-align: center;
    height: 38px;
    border-radius: 20px;
    border: 2px solid #5bb6f6;
    font-weight: 600;

}

.VaccinButton {
    background-color: #45A8F0;
    width: 232px;
    height: 51px;
    margin-top: 60px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}
.VaccinSelected{
    background-color: #45A8F0!important;
    color: white;
    transition: all 0.5s;
}