.GridContainer {
    padding: 3%;
    margin-top: 35px;
}

.GridContainer button {
    width: 70%;
    height: 25px;
    padding: 0;
    border-radius: 7px;
    background-color: white;
    border: 2px solid #e84f13;
    font-weight: 900;
}

.react-datepicker-ignore-onclickoutside {
    background-color: #e84f13;
    color: white;
    cursor: pointer;
    transition: all 0.3s;

}

.react-datepicker__input-container>input {
    text-align: center;
    height: 25px;
    border-radius: 10px;
    border: 2px solid #e84f13;
    font-weight: 600;

}

.VaccinButton {
    background-color: #e84f13;
    width: 232px;
    height: 51px;
    margin-top: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 90px;
}
.vaccinselect{
    font-size: 10px;
}
.VaccinSelected{
    background-color: #e84f13!important;
    color: white;
    transition: all 0.5s;
}
.react-datepicker__triangle{
    margin-bottom: 30px;
}

.react-datepicker__month-container{
   
    font-weight: 700;
}
.react-datepicker__header{
    font-size: 20px;
    
}
.react-datepicker__day-names{
    font-size: 15px;
    margin-top: 15px;
}
.react-datepicker__day-name{
    padding: 5px;
}
.react-datepicker__week{
    margin: 5px;
}
.react-datepicker__day{
    padding: 5px;  
    font-size: 15px;
} 